@import "/src/styles/variables";

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $secondary;
    padding: 1rem;
    
    &-brand {
        .logo {
            height: 40px;
        }
    }
    
    &-user {
        display: flex;
        align-items: center;
        color: #fff;
        
        .user-email {
            margin-right: 1rem;
        }
        
        .dropdown {
            position: relative;
            
            .user-icon {
                height: 30px;
                cursor: pointer;
            }
            
            .dropdown-menu {
                position: absolute;
                right: 0;
                top: 100%;
                background-color: #fff;
                color: #f5f5f5;
                box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
                border-radius: 4px;
                overflow: hidden;
                
                a {
                    display: block;
                    padding: 0.5rem 1rem;
                    text-decoration: none;
                    color: inherit;
                    
                    &:hover {
                        background-color: #f0f0f0;
                    }
                }
            }
        }
    }
}
